@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile {
  display: flex; /* Visible by default */
}

.bar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: none; /* Hidden on mobile (screens smaller than 768px) */
  }
  .bar {
    display: block;
  }

  .hometext {
    font-size: 30px;
  }
  .homecont {
    width: "100%";
  }
}
